<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyTelegoEntities" connectionString="metadata=res://*/Domain.TeleGoContext.csdl|res://*/Domain.TeleGoContext.ssdl|res://*/Domain.TeleGoContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=173.239.12.108;initial catalog=MyTelego;persist security info=True;user id=api;password=abcde12345-;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ApplicationConnection" connectionString="metadata=res://*/Domain.TeleGoModel.csdl|res://*/Domain.TeleGoModel.ssdl|res://*/Domain.TeleGoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=173.239.12.108;initial catalog=MyTelego;persist security info=True;user id=api;password=abcde12345-;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>