<div class="jumbotron">
    <h1>TeleGo Phone System Testing</h1>
</div>
<div class="row">
    <div class="form-group">
        <label>UserName:</label>
        <input class="form-control" type="text" id="txtUserName" value="anhv" required />
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input class="form-control" type="password" id="txtPassword" value="a" required />
    </div>
    <div class="form-group">
        <label>CustomerId:</label>
        <input class="form-control" type="text" id="txtCustomerId" value="1" required />
    </div>
    <div class="form-group">
        <label>CallerId:</label>
        <input class="form-control" type="tel" id="txtCallerId" value="7187827573" required />
    </div>
    <div class="form-group">
        <label>Result-Extension Number:</label>
        <p id="lblResult"></p>
    </div>
    <button class="btn btn-primary btn-large" onclick="GetExtension()">Request</button>

</div>
<script>
    function GetExtension() {
        var username = $('#txtUserName').val();
        var password = $('#txtPassword').val();
        var callerId = $('#txtCallerId').val();
        var customerId = $('#txtCustomerId').val();

        var url = "api/Phone/GetExtension/";//+username+"/"+password+"/"+customerId+"/"+callerId;
        $.ajax({
            type: 'GET',
            url: url,
            data: { username: username, password: password, customerId: customerId, callerId: callerId }
        }).done(function (data) {
            $('#lblResult').val(data.Status);
        })
    }
</script>
